Repository umrover/mrover-ros, pull requests merged in 2022-10, with the labels that each got.

#190 Remove svelte from gui package.json files to fix dependabot errors
  src/teleop/gui/package.json
  starter_project/teleop/package.json
Labels: teleoperation, devops

#177 Add clang-tidy to CMake build process
  .clang-tidy
  .github/workflows/catkin.yml
  CMakeLists.txt
  Dockerfile
  install.py
  src/gazebo/differential_drive_6w.cpp
  src/gazebo/differential_drive_6w.hpp
  src/perception/se3.cpp
  src/perception/se3.hpp
Labels: devops

#201 search if tag becomes none
  src/navigation/single_fiducial.py
Labels: navigation

#180 Gimbal controls publish with WASD, allow simultaneous key presses
  msg/GimbalCmd.msg
  src/teleop/gui/src/components/ControlGUI.vue
  src/teleop/gui/src/components/GimbalControls.vue
Labels: teleoperation

#207 Goes to gate/pos only if we want to
  CMakeLists.txt
  msg/GPSWaypoint.msg
  msg/Waypoint.msg
  msg/WaypointType.msg
  scripts/debug_course_publisher.py
  src/navigation/context.py
  src/navigation/navigation.py
  src/navigation/search.py
  src/navigation/waypoint.py
  test/integration/integration.py
Labels: navigation

#237 Add GimbalCmd to CMakeLists
  CMakeLists.txt
  src/teleop/gui/src/components/GimbalControls.vue
Labels: teleoperation

#189 False positive detection on ArUco tags + PCL
  .dockerignore
  .gitignore
  CMakeLists.txt
  Dockerfile
  config/gazebo/env_description/ground.blend
  config/gazebo/env_description/ground.dae
  config/zed/common.yaml
  config/zed/zed.yaml
  config/zed/zed2i.yaml
  launch/auton.launch
  launch/jetson.launch
  launch/jetson_auton.launch
  package.xml
  rover_description/rover_gazebo_plugins.xacro
  src/gazebo/gazebo_ros_openni_kinect.cpp
  src/gazebo/gazebo_ros_openni_kinect.h
  src/perception/aruco_detect.cpp
  src/perception/aruco_detect.hpp
  src/perception/aruco_processing.cpp
  src/perception/filter.hpp
Labels: perception

#243 Drone install script and launch file
  install.py
  launch/drone.launch
  package.xml
  requirements.txt
Labels: devops, drone
