Repository umrover/mrover-ros, pull requests merged in 2023-04, with the labels that each got.

#405 Merge Encoder topics and publish to MoveIt
  src/teleop/jetson/jetson_teleop.py
Labels: teleoperation

#367 Switch to odom frame when driving to post and gate
  src/navigation/approach_post.py
  src/navigation/context.py
  src/navigation/gate.py
  src/navigation/partial_gate.py
Labels: navigation

#420 Publish MotorsStatus message in sim
  src/gazebo/differential_drive_6w.cpp
  src/gazebo/differential_drive_6w.hpp
Labels: sim-gap

#421 Fix sync issue with perception
  CMakeLists.txt
  compile_commands.json
  config/perception.yaml
  src/perception/point_cloud.hpp
  src/perception/tag_detector/tag_detector.cpp
  src/perception/tag_detector/tag_detector.hpp
  src/perception/tag_detector/tag_detector.processing.cpp
  src/perception/zed_wrapper/zed_wrapper.conversion.cu
  src/perception/zed_wrapper/zed_wrapper.cpp
  src/perception/zed_wrapper/zed_wrapper.hpp
  src/util/lie/se3.hpp
  src/util/loop_profiler.hpp
Labels: perception, atone

#418 Threshold debug images for tag detection
  config/perception.yaml
  src/perception/tag_detector/tag_detector.cpp
  src/perception/tag_detector/tag_detector.hpp
  src/perception/tag_detector/tag_detector.processing.cpp
  src/perception/tag_detector/tag_detector.threshold.cpp
  src/perception/zed_wrapper/zed_wrapper.cpp
  src/perception/zed_wrapper/zed_wrapper.hpp
Labels: perception

#422 adds transition to partial gate from waypoint
  src/navigation/waypoint.py
Labels: navigation

#384 Add calibration service and limit switches support
  CMakeLists.txt
  config/esw.yaml
  launch/jetson.launch
  launch/pi.launch
  msg/Calibrated.msg
  scripts/networking_setup_pi
  scripts/remote_env_pi.sh
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/Controller.h
  src/esw/brushed_motors/ControllerMap.cpp
  src/esw/brushed_motors/I2C.cpp
  src/esw/brushed_motors/ROSHandler.cpp
  src/esw/brushed_motors/ROSHandler.h
  src/esw/brushed_motors/Test.cpp
  src/esw/brushed_motors/Test.h
  src/esw/brushed_motors/main.cpp
  src/esw/brushless.py
  srv/AdjustMotors.srv
  srv/CalibrateMotors.srv
  srv/EnableDevice.srv
  starter_project/teleop/README.md
Labels: esw

#390 Added limit switch and calibration to GUIs
  scripts/debug_service.py
  src/teleop/gui/.eslintrc.js
  src/teleop/gui/src/components/Amino.vue
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/CalibrationCheckbox.vue
  src/teleop/gui/src/components/Carousel.vue
  src/teleop/gui/src/components/LEDIndicator.vue
  src/teleop/gui/src/components/LimitSwitch.vue
  src/teleop/gui/src/components/MotorAdjust.vue
  src/teleop/gui/src/components/SATask.vue
  srv/EnableDevice.srv
Labels: teleoperation

#358 Abort motion plan execution upon error
  CMakeLists.txt
  config/teleop.yaml
  setup.py
  src/teleop/__init__.py
  src/teleop/jetson/arm_trajectory_server.py
  test/teleop/teleop.test
  test/teleop/teleop_test.py
Labels: teleoperation

#403 Custom perception ZED ROS wrapper, direct tag detection
  .clang-tidy
  .dockerignore
  CMakeLists.txt
  Dockerfile
  compile_commands.json
  config/DetectorParams.cfg
  config/perception.yaml
  config/rviz/zed_test.rviz
  config/zed/zed.yaml
  config/zed/zed2i.yaml
  launch/auton.launch
  launch/basestation.launch
  launch/jetson.launch
  launch/jetson_auton.launch
  launch/zed.launch
  launch/zed2i.launch
  launch/zed_test.launch
  package.xml
  plugins/tag_detector_plugin.xml
  plugins/zed_plugin.xml
  rover_description/meshes/zed2i.blend
  rover_description/meshes/zed2i.dae
  rover_description/zed/include/materials.urdf.xacro
  rover_description/zed/zed_descr.urdf.xacro
  rover_description/zed/zed_macro.urdf.xacro
  src/perception/point.hpp
  src/perception/se3.cpp
  src/perception/se3.hpp
  src/perception/se3_conversion.cpp
  src/perception/tag_detector.cpp
  src/perception/tag_detector.hpp
  src/perception/tag_detector.processing.cpp
  src/perception/tag_detector/README.md
  src/perception/tag_detector/tag_detector.cpp
  src/perception/tag_detector/tag_detector.hpp
  src/perception/tag_detector/tag_detector.processing.cpp
  src/perception/tag_detector/tag_detector.threshold.cpp
  src/perception/zed_wrapper/zed_wrapper.bridge.cpp
  src/perception/zed_wrapper/zed_wrapper.bridge.cu
  src/perception/zed_wrapper/zed_wrapper.cpp
  src/perception/zed_wrapper/zed_wrapper.hpp
  src/util/filter.hpp
  src/util/lie/se3.cpp
  src/util/lie/se3.hpp
  src/util/lie/se3_conversion.cpp
  src/util/lie/so3.cpp
  src/util/loop_profiler.hpp
  test/integration/integration.test
Labels: perception

#417 Failure Data Collection and Recovery State
  .gitignore
  config/navigation.yaml
  launch/auton.launch
  requirements.txt
  scripts/debug_course_publisher.py
  src/navigation/approach_post.py
  src/navigation/context.py
  src/navigation/drive.py
  src/navigation/failure_identification/failure_identification.py
  src/navigation/failure_identification/watchdog.py
  src/navigation/gate.py
  src/navigation/navigation.py
  src/navigation/partial_gate.py
  src/navigation/recovery.py
  src/navigation/search.py
  src/navigation/waypoint.py
Labels: navigation

#455 Remove the legacy auton led program
  config/esw.yaml
  launch/pi.launch
  src/esw/auton_led.py
Labels: esw

#460 Switch app.js ROS to use 10.0.0.7
  src/teleop/gui/src/app.js
Labels: teleoperation

#450 Tick all MCUs via I2C and refactor enable limit switch code
  config/esw.yaml
  config/teleop.yaml
  launch/jetson.launch
  scripts/debug_service.py
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/Controller.h
  src/esw/brushed_motors/ControllerMap.cpp
  src/esw/brushed_motors/ROSHandler.cpp
  src/esw/brushed_motors/ROSHandler.h
  src/teleop/gui/src/components/LimitSwitch.vue
Labels: esw

#461 Add "Competiton mode" toggle for GUI to choose which ROS IP to look for.
  src/teleop/gui/src/app.js
  src/teleop/gui/src/components/Menu.vue
Labels: teleoperation, high pri

#432 Fix network monitor to use Mbps and search for available ethernet interfaces
  config/esw.yaml
  src/esw/brushed_motors/Controller.cpp
  src/esw/network_monitor.py
  src/teleop/gui/src/components/CommReadout.vue
  system_services/rover-base-station-gstreamer-0.service
  system_services/rover-base-station-gstreamer-1.service
  system_services/rover-base-station-gstreamer-2.service
  system_services/rover-base-station-gstreamer-3.service
Labels: devops
