Repository umrover/mrover-ros, pull requests merged in 2023-02, with the labels that each got.

#331 Add IMU Calibration to Auton GUI
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/IMUCalibration.vue
Labels: teleoperation

#338 Change I2C message packet for motors
  config/esw.yaml
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/Controller.h
  src/esw/brushed_motors/ControllerMap.cpp
  src/esw/brushed_motors/ROSHandler.cpp
Labels: esw

#332 Add SA GUI
  launch/basestation.launch
  src/teleop/gui/src/components/BasicRoverMap.vue
  src/teleop/gui/src/components/BasicWaypointEditor.vue
  src/teleop/gui/src/components/BasicWaypointItem.vue
  src/teleop/gui/src/components/DriveControls.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/EndEffectorUV.vue
  src/teleop/gui/src/components/SATask.vue
  src/teleop/gui/src/components/ToggleButton.vue
Labels: teleoperation

#351 Fix GPS linearization pose init
  src/localization/gps_linearization.py
Labels: localization

#349 Fix Issues with Intervals in control components, Add Gimbal Controls to all the GUIs
  src/teleop/gui/.eslintrc.js
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/AutonWaypointEditor.vue
  src/teleop/gui/src/components/DriveControls.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/GimbalControls.vue
  src/teleop/gui/src/components/SATask.vue
Labels: teleoperation

#277 Add support for brushless arm code in open loop
  .gitignore
  CMakeLists.txt
  config/esw.yaml
  config/teleop.yaml
  msg/DriveStatus.msg
  msg/MotorsStatus.msg
  src/esw/brushless.py
Labels: esw

#239 Add camera service and node
  CMakeLists.txt
  config/esw.yaml
  launch/cameras.launch
  launch/jetson.launch
  msg/CameraCmd.msg
  src/esw/cameras.py
  srv/ChangeCameras.srv
  system_services/rover-base-station-gstreamer-0.service
  system_services/rover-base-station-gstreamer-0.timer
  system_services/rover-base-station-gstreamer-1.service
  system_services/rover-base-station-gstreamer-1.timer
  system_services/rover-base-station-gstreamer-2.service
  system_services/rover-base-station-gstreamer-2.timer
  system_services/rover-base-station-gstreamer-3.service
  system_services/rover-base-station-gstreamer-3.timer
Labels: esw
