Repository umrover/mrover-ros, pull requests merged in 2023-05, with the labels that each got.

#435 Clear Map Waypoints After Auton Enabled
  src/teleop/gui/src/components/AutonRoverMap.vue
Labels: teleoperation

#438 Change polarity for limit switches, add slow mode for SA, add ability to control Raman laser, and combine services for science MOSFET devices
  CMakeLists.txt
  config/esw.yaml
  config/teleop.yaml
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/ROSHandler.cpp
  src/esw/brushed_motors/ROSHandler.h
  src/esw/brushed_motors/main.cpp
  src/esw/science.py
  src/teleop/gui/src/components/Amino.vue
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/Chlorophyll.vue
  src/teleop/gui/src/components/EndEffectorUV.vue
  src/teleop/gui/src/components/Raman.vue
  src/teleop/gui/src/components/Sudan.vue
  src/teleop/jetson/jetson_teleop.py
  srv/ChangeDeviceState.srv
  srv/ChangeHeaterAutoShutoffState.srv
Labels: teleoperation, esw

#469 Send Heater Service Requests on Interval
  config/esw.yaml
  src/teleop/gui/src/components/Amino.vue
Labels: teleoperation

#430 Seperate Odom and Map Constants, Stop Oscillations in odom frame, Dynamic Gate Path Update
  config/navigation.yaml
  src/navigation/approach_post.py
  src/navigation/context.py
  src/navigation/drive.py
  src/navigation/gate.py
  src/navigation/navigation.py
  src/navigation/partial_gate.py
  src/navigation/recovery.py
  src/navigation/search.py
  src/navigation/state.py
  src/navigation/waypoint.py
  test/example/python_test.py
  test/navigation/drive_test.py
Labels: navigation

#482 Fix perception im simulator
  launch/auton_sim.launch
  launch/zed.launch
  rover_description/rover.xacro
  rover_description/rover_gazebo_plugins.xacro
Labels: perception, atone

#437 GUI Mock Mission Changes
  launch/jetson_teleop.launch
  scripts/debug_service.py
  src/teleop/gui/package.json
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/AutonWaypointEditor.vue
  src/teleop/gui/src/components/CameraInfo.vue
  src/teleop/gui/src/components/Cameras.vue
  src/teleop/gui/src/components/Carousel.vue
  src/teleop/gui/src/components/Checkbox.vue
  src/teleop/gui/src/components/Chlorophyll.vue
  src/teleop/gui/src/components/ControlGUI.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/EmulsionTest.vue
  src/teleop/gui/src/components/FlightAttitudeIndicator.vue
  src/teleop/gui/src/components/IMUCalibration.vue
  src/teleop/gui/src/components/ISHTask.vue
  src/teleop/gui/src/components/MotorAdjust.vue
  src/teleop/gui/src/components/OdometryReading.vue
  src/teleop/gui/src/components/SATask.vue
  src/teleop/gui/src/components/SelectSite.vue
  src/teleop/gui/src/store/modules/autonomy.js
  src/teleop/gui/src/store/modules/cameras.js
  src/teleop/gui/src/utils.js
  src/teleop/gui/webpack.config.dev.js
Labels: teleoperation

#465 Send zero velocity commands when arms are disabled remove joint_states publisher for now
  CMakeLists.txt
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/SAArmControls.vue
  src/teleop/jetson/jetson_teleop.py
  srv/ChangeArmMode.srv
Labels: teleoperation

#472 Show cache limit switch pressed status on GUI
  CMakeLists.txt
  msg/LimitSwitchData.msg
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/Controller.h
  src/esw/brushed_motors/ROSHandler.cpp
  src/esw/brushed_motors/ROSHandler.h
  src/teleop/gui/src/components/Cache.vue
Labels: teleoperation, esw

#480 Make servo vs sites configurable in config
  config/esw.yaml
  scripts/debug_service.py
  src/esw/science.py
  src/teleop/gui/src/components/EmulsionTest.vue
Labels: esw

#484 Add support for microscope camera (and others)
  config/esw.yaml
  src/esw/cameras.py
  src/teleop/gui/src/components/CameraInfo.vue
Labels: esw

#474 Make brushed motors resistant to changing missions
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/Controller.h
Labels: esw

#441 Add Raman Service
  scripts/99-usb-serial.rules
  system_services/rover-jetson-raman.service
  system_services/rover-science-laptop-raman.service
Labels: devops

#491 Add support for remotely resetting MCU board
  CMakeLists.txt
  config/esw.yaml
  config/teleop.yaml
  launch/pi.launch
  scripts/debug_service.py
  src/esw/brushed_motors/Controller.cpp
  src/esw/brushed_motors/Controller.h
  src/esw/brushed_motors/ROSHandler.cpp
  src/esw/brushed_motors/ROSHandler.h
  src/esw/mcu_reset.py
  src/esw/science.py
  src/teleop/gui/src/components/Amino.vue
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/ISHTask.vue
  src/teleop/gui/src/components/MCUReset.vue
  src/teleop/gui/src/components/SATask.vue
  src/teleop/jetson/jetson_teleop.py
  srv/ChangeHeaterAutoShutoffState.srv
Labels: teleoperation, esw

#424 Add tag hit count increment weight
  config/perception.yaml
  src/perception/tag_detector/tag_detector.cpp
  src/perception/tag_detector/tag_detector.hpp
  src/perception/tag_detector/tag_detector.processing.cpp
  src/perception/zed_wrapper/zed_wrapper.bridge.cu
Labels: perception

#495 Edit GUI defaults and cache/carousel controls
  config/esw.yaml
  config/teleop.yaml
  launch/jetson_teleop.launch
  msg/MastGimbal.msg
  src/esw/mcu_reset.py
  src/teleop/gui/src/components/ArmControls.vue
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/Cache.vue
  src/teleop/gui/src/components/Carousel.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/FlightAttitudeIndicator.vue
  src/teleop/gui/src/components/GenerateReport.vue
  src/teleop/gui/src/components/ISHTask.vue
  src/teleop/gui/src/components/MCUReset.vue
  src/teleop/gui/src/components/MastGimbalControls.vue
  src/teleop/gui/src/components/Menu.vue
  src/teleop/gui/src/components/OpenLoopControl.vue
  src/teleop/gui/src/components/Raman.vue
  src/teleop/gui/src/components/SATask.vue
Labels: teleoperation

#459 Failure detection
  config/navigation.yaml
  scripts/debug_course_publisher.py
  src/navigation/context.py
  src/navigation/drive.py
  src/navigation/failure_identification/failure_identification.py
  src/navigation/failure_identification/watchdog.py
  src/navigation/recovery.py
  src/navigation/state.py
Labels: navigation

#481 backup at post
  config/navigation.yaml
  launch/auton.launch
  launch/jetson.launch
  src/navigation/approach_post.py
  src/navigation/context.py
  src/navigation/navigation.py
  src/navigation/post_backup.py
  src/navigation/recovery.py
  src/navigation/waypoint.py
Labels: navigation

#498 Gate only optimize close to gate
  src/navigation/gate.py
Labels: navigation

#497 Use Arduino to control Auton LEDs
  CMakeLists.txt
  config/esw.yaml
  fw/auton_led/auton_led.ino
  fw/uart_to_i2c_bridge/uart_to_i2c_bridge.ino
  launch/jetson.launch
  scripts/99-usb-serial.rules
  scripts/uart_to_i2c_bridge/uart_to_i2c_bridge.ino
  src/esw/auton_led.py
  src/esw/science.py
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/utils.js
  srv/ChangeAutonLEDState.srv
Labels: esw, urc critical

#502 Publish available cameras
  CMakeLists.txt
  msg/AvailableCameras.msg
  src/esw/cameras.py
  src/teleop/gui/src/components/Cameras.vue
Labels: esw, urc critical

#501 Add moteus table for arm
  src/teleop/gui/src/components/ArmMoteusStateTable.vue
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/ControlGUI.vue
  src/teleop/gui/src/components/DriveMoteusStateTable.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/SATask.vue
Labels: teleoperation, urc critical

#476 Properly convert position for brushless
  config/esw.yaml
  src/esw/brushless.py
  src/teleop/gui/src/components/JointStateTable.vue
Labels: esw, urc critical

#500 Smoother search spiral (changes drive algorithm and spiral generation)
  config/navigation.yaml
  src/navigation/context.py
  src/navigation/drive.py
  src/navigation/search.py
  src/teleop/gui/src/components/AutonRoverMap.vue
  src/teleop/gui/src/static/map_marker_projected.png
Labels: navigation, urc critical

#504 Fix competition waypoint editor IDs
  src/teleop/gui/src/components/AutonWaypointEditor.vue
Labels: teleoperation, urc critical

#505 Recovery adjustment
  config/navigation.yaml
  src/navigation/recovery.py
  src/util/np_utils.py
Labels: navigation, urc critical

#506 publish gate position in map frame
  src/navigation/context.py
  src/navigation/gate.py
Labels: navigation, urc critical

#512 Fix recovery switch
  config/navigation.yaml
  src/navigation/failure_identification/failure_identification.py
Labels: navigation, urc critical

#511 Add drop waypoint to basic waypoint editor
  src/teleop/gui/src/components/BasicWaypointEditor.vue
  src/teleop/gui/src/components/Cache.vue
  src/teleop/gui/src/components/ERDTask.vue
  src/teleop/gui/src/components/ISHTask.vue
  src/teleop/gui/src/components/OpenLoopControl.vue
  src/teleop/gui/src/components/SATask.vue
Labels: teleoperation, urc critical

#507 Fix auton latency
  launch/basestation.launch
  scripts/debug_service.py
  src/esw/network_monitor.py
  src/navigation/navigation.py
  src/teleop/auton_enable_forward.py
  src/teleop/gui/src/components/AutonTask.vue
  src/teleop/gui/src/components/AutonWaypointEditor.vue
Labels: navigation, teleoperation, urc critical
